.Sider {
  &-dropdown {
    &-title {
      color: black;
      font-weight: 600;
    }

    &-title-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 35px 28px 0 32px;
      padding: 5px 5px 0;
    }

    &-body {
      max-height: 300px;
      overflow: auto;
    }
  }

  &-divider {
    margin: 15px 0;
  }
}
