.Dashboard {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .ant-card {
      margin: 10px 0;
      width: 180px;
    }

    .ant-card-body {
      background: #f5f4f9;
      color: gray;
      padding: 10px 25px;
    }

    .ant-card-head-title {
      color: black;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}
